<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{{ record.id }}
{{ record.name }}

<div class="container">
    <form action="/edit/{{ record.id }}" method="POST">
    <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input name="name" type="string" class="form-control" id="exampleFormControlInput1"
              value="{{ record.name }}" placeholder="type name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">type</label>
        <select name="type" value="{{ record.type }}" class="form-control" id="exampleFormControlSelect1">
            <option></option>
            <option>Product</option>
            <option>Service</option>

        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">bp</label>
        <input name="bp" value="{{ record.buying_price }}" type="float" class="form-control" id="exampleFormControlInput1"
               placeholder="Enter Value">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">sp</label>
        <input name="sp" type="float" value="{{ record.selling_price }}" class="form-control" id="exampleFormControlInput1"
               placeholder="Enter Value">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Stock</label>
        <input name="Stock" type="integer" value="{{ record.stock }}" class="form-control"
               id="exampleFormControlInput1" placeholder="Enter Value">
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>