<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Management Inventory</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: lightgreen;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>


</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Inventory

            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inventory</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form action="/add_inventory" method="POST">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input name="name" type="string" class="form-control" id="exampleFormControlInput1"
                                           placeholder="type name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">type</label>
                                    <select name="type" class="form-control" id="exampleFormControlSelect1">
                                        <option></option>
                                        <option>Product</option>
                                        <option>Service</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">bp</label>
                                    <input name="bp" type="float" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">sp</label>
                                    <input name="sp" type="float" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Stock</label>
                                    <input name="Stock" type="integer" class="form-control"
                                           id="exampleFormControlInput1" placeholder="Enter Value">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>


            </button>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Buying Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View Sale</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Banana</td>
                    <td>Product</td>
                    <td>200</td>
                    <td>400</td>
                    <td>500</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Apple</td>
                    <td>Product</td>
                    <td>500</td>
                    <td>1000</td>
                    <td>2200</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Massage</td>
                    <td>service</td>
                    <td>2000</td>
                    <td>5000</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-4">


            <img src="pie_chart.png" class="img-fluid img-thumbnail" alt="...">


        </div>
        <div class="col-8">

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    my_Progress__30%
                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>